html, body {
	margin:0;
	top:0;
	left:0;
	background-color: #62b8c6;
}

.whiteBig{
position: absolute;
width: 700px;
height: 800px;
left: 100px;
top: 0px;
background-color: #FFFFFF;
}

.whiteBig2{
position: absolute;
width: 550px;
height: 800px;
left: 800px;
top: 0px;
background-color: #FFFFFF;
}

.Blue1{
position: absolute;
width: 800px;
height: 300px;
left: 100px;
top: 50px;
background-color: #e9f7f9;

}
.Blue2{
position: absolute;
width: 100px;
height: 30px;
left: 200px;
top: 250px;
background-color: #62b8c6;
}

.Title1{
position: absolute;
width: 500px;
height: 100px;
left: 200px;
top: 30px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 100px;
line-height: 100px;

color: #000000;
}

.Blue3{
position: absolute;
width: 450px;
height: 200px;
left: 900px;
top: 600px;
background-color: #e9f7f9;
}

<a href="https://kurtsha.github.io/KurtScD/LightDark/Dark.html" class="button">Dark</a>
a.button {
	background-color: #457f89; 
 	border: none;
 	color: #457f89;
  	font-size: 30px;
}